img.avatar-photo {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  position: absolute;
}

img.avatar-photo.current {
  border-width: 1px;
}

img.avatar-photo.current:hover  {
  border-color: rgb(155, 160, 163);
}

img.avatar-photo.list {
  border-width: 3px;
}

img.avatar-photo.list:hover:not(.selecting) {
  border-color: rgb(155, 160, 163);
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
.spin{
  animation: 1s linear infinite rotation;
  animation-play-state: inherit;
  border: solid 3px rgb(122, 161, 178);
  border-bottom-color: transparent;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: absolute;
}
